<div class="div-errors">
  <div class="errors">
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <div class="alert alert-danger" role="alert"><%= error %></div>
      <% end %>
    <% end %>
  </div>
</div>
