@charset "UTF-8";
/* PHASE 0: Reset */
html,
body,
header,
nav,
h1,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: "Noto Sans", sans-serif;
  color: black;
  text-align: inherit;
  text-decoration: none;
  vertical-align: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both;
}

body > div > a {
  text-decoration: none;
}

.nav-item:hover {
  background-color: #dae0e6;
}

.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border: 1px solid rgba(181, 180, 186, 0.25);
}

.sign-in-link {
  font-size: 12px;
}

.btn-primary2 {
  padding-left: 25px;
  padding-right: 25px;
}

.btn-outline-primary2 {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 9px;
}

.nav-item2:hover {
  background-color: white;
}

input[name="commit"] {
  color: gray;
  float: right;
}

.me-2:hover {
  border: 1px solid #0e88f1;
}

.become-a-host {
  border: 1px solid black;
}

.nav-i {
  display: block;
  color: #414143;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-i:hover {
  color: #414143;
}

.main-container {
  width: 75%;
  margin-top: 60px;
  margin-left: 26%;
}

#p-main-container {
  font-family: RlFreight, HoeflerText-Black, Times New Roman, serif;
  font-size: 90px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 90px;
  text-transform: none;
}

#h5-main-container {
  padding-left: 9%;
}

.browse-cars {
  width: 85%;
  margin-top: 8%;
}

.h6-p-div {
  float: right;
}

#browse-cars-h6 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.2px;
  line-height: 32px;
  text-transform: none;
}

span {
  color: #593cfb;
}

.my-button-color {
  display: inline-block;
  text-decoration: none;
  height: 50px;
  line-height: 49px;
  padding: 0 18px;
  text-align: center;
  vertical-align: top;
  background-color: #593cfb;
  border: 1px solid #593cfb;
  color: #ffffff;
  font-size: 18px;
  -webkit-transition: 0.5s border, 0.5s background;
  transition: 0.5s border, 0.5s background;
}

.my-button-color:hover {
  background-color: #210aa1;
}

.div-questions {
  margin-top: 6%;
}

.browse-cars-p {
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: 300;
}

.h3-questions {
  font-family: RlFreight,  HoeflerText-Black,  Times New Roman,  serif;
  font-size: 51px;
  font-weight: 900;
  letter-spacing: -0.5px;
  line-height: 56px;
  text-transform: none;
  margin: 0 auto;
}

.div-questions {
  text-align: center;
  margin-top: 9%;
  margin-bottom: 5%;
}

.div-answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.div-answer {
  font-size: 15px;
}

.div-answer-1 {
  border-top: 1px solid rgba(223, 219, 219, 0.986);
  margin-right: 5%;
  padding-top: 2%;
}

.div-answer-2 {
  border-top: 1px solid rgba(223, 219, 219, 0.986);
  padding-top: 10%;
}

.h6-p-div-2 {
  float: left;
  margin-top: 12%;
  margin-left: 32%;
}

a {
  text-decoration: none;
}

.h6-p-div-3 {
  margin-right: 8%;
  float: right;
}

.browse-cars-3 {
  width: 85%;
  margin-top: 2%;
}

.browse-cars-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.browse-car-div {
  width: 35%;
  margin: 1%;
  -webkit-box-shadow: 0px 0px 8px 1px #ccc;
          box-shadow: 0px 0px 8px 1px #ccc;
}

.browse-p {
  margin: 0px;
  color: #121214;
  font-family: RlBasisGrotesque,  Avenir,  Helvetica Neue,  Helvetica,  sans-serif;
  font-size: 21px;
  font-weight: 900;
  letter-spacing: -0.2px;
  line-height: 28px;
  text-transform: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 3%;
  text-decoration: none;
}

.create-car {
  border: 1px solid black;
  width: 70%;
  margin: auto;
}

input[type="text"] {
  border: 1px solid gray;
}
/*# sourceMappingURL=application.css.map */