.img-cont {
  background-repeat: no-repeat;
  background-size: 45% 126%;
  background-position-x: center;
}

.browse-cars-div {
  width: 941px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  margin-top: 25px;
  justify-items: center;
  column-gap: 24px;
  row-gap: 24px;
}

.div-p-browse {
  width: 941px;
  margin: auto;
}

.browse-car-div {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-top: 4%;
  border-radius: 4px;
  background-color: white;
}

.browse-p {
  margin: 0px;
  color: rgb(18, 18, 20);
  font-size: 21px;
  letter-spacing: -0.2px;
  line-height: 28px;
  text-transform: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 3%;
  text-decoration: none;
  padding-bottom: 4%;
  font-weight: 600;
}

.p-browse {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-weight: 900;
  font-size: 28px;
  letter-spacing: -0.5px;
  line-height: 56px;
  text-transform: none;
  margin-top: 5%;
}

a {
  color: black;
}

.browse-image {
  display: block;
  border-bottom: 1px solid rgba(50, 50, 93, 0.13);
  -webkit-transition: 0.5s border, 0.5s background;
  transition: 0.5s border, 0.5s background;
}

.browse-image:hover {
  opacity: 0.3;
  -webkit-transition: 0.5s border, 0.5s background;
  transition: 0.5s border, 0.5s background;
}

@media only screen and (max-width: 746px) {
  .browse-cars-div {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    margin-top: 25px;
    justify-items: center;
    column-gap: 24px;
    row-gap: 24px;
  }
}
