.create-car {
  width: 50%;
  margin: auto;
}

.p-form {
  padding: 15px 10px 15px 0;
  font-weight: 600;
  border-top: 1px solid #c7c7c7;
  padding-left: 3%;
}

.text-form {
  border: 1px solid #c7c7c7;
  width: 96%;
  padding: 3px 10px;
}

.text-name {
  font-size: 12px;
}

.h1-form {
  width: 50%;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
}

.h1-h1 {
  color: rgb(18, 18, 20);
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: -0.2px;
  line-height: 44px;
  text-transform: none;
}

.text-form-description {
  border: 1px solid #c7c7c7;
  width: 96%;
  height: 34%;
  padding: 3px 10px;
}

.my-button-color-2 {
  display: inline-block;
  text-decoration: none;
  height: 50px;
  line-height: 49px;
  padding: 0 18px;
  text-align: center;
  vertical-align: top;
  background-color: #593cfb;
  border: 1px solid #593cfb;
  color: #ffffff;
  font-size: 18px;
  -webkit-transition: 0.5s border, 0.5s background;
  transition: 0.5s border, 0.5s background;
  float: right;
  margin-top: 2%;
}

.my-button-color-2:hover {
  background-color: #210aa1;
}
