.main-show-container {
  width: 82%;
  margin: auto;
  display: flex;
}

.container-1 {
  width: 50%;
  flex: 2;
}

.container-2 {
  flex: 1;
}

.h1-show {
  font-family: RlBasisGrotesque,  Avenir,  Helvetica Neue,  Helvetica,
     sans-serif;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: -0.2px;
  line-height: 44px;
  text-transform: none;
  margin-bottom: 5%;
  margin-top: 6%;
}

.h1-rental-requests {
  font-family: RlBasisGrotesque,  Avenir,  Helvetica Neue,  Helvetica,
     sans-serif;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: -0.2px;
  line-height: 44px;
  text-transform: none;
  margin-bottom: 5%;
  margin-top: 12%;
}
.p-attr {
  margin-bottom: 2%;
  margin: 0;
  color: #121214;
  margin-bottom: 0;
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  text-transform: none;
}

.p-attr-2 {
  display: inline;
}

.p-attr-3 {
  float: right;
  padding-right: 40%;
}

.h2-host {
  margin: 0;
  color: #121214;
  margin-bottom: 9px;
  text-align: left;
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 3%;
  margin-bottom: 2%;
}

.p-host-name {
  margin: 0;
  color: #121214;
  margin-bottom: 0;
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 900;
  letter-spacing: -0.2px;
  line-height: 28px;
  text-transform: none;
  display: inline;
  padding-left: 2%;
}

.fa-car-wash {
  color: #593cfb;
  margin-right: 1%;
}

.learn-more-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: #593cfb;
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  text-transform: none;
  display: block;
}

.div-host {
  display: flex;
}

.all-star-host {
  margin: 0;
  color: #121214;
  margin-bottom: 0;
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  text-transform: none;
}

.read-more-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

#div-answer-show-page {
  //   width: 100px;
  height: 50px;
  display: block;
  padding: 10px;
  overflow: hidden;
  opacity: 0.33;
  color: #121214;
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  text-transform: none;
  margin-left: -1%;
}

#more {
  font-size: 13px;
  margin: 0;
  color: #121214;
  margin-bottom: 16px;
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  text-transform: none;
  border: 1px solid black;
  padding: 1%;
  margin-top: 2%;
}

#more:hover {
  background-color: #ccc;
}

#less {
  display: none;
  font-size: 13px;
  margin: 0;
  color: #121214;
  margin-bottom: 16px;
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  text-transform: none;
  border: 1px solid black;
  padding: 1%;
  margin-top: 2%;
}

#less:hover {
  background-color: #ccc;
}

.div-image-with-content {
  display: flex;
  margin-top: 2%;
}

.buttons-and-text {
  margin-left: 1%;
}

#div-features {
  width: 511px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 25px;
  column-gap: 24px;
  row-gap: 24px;
  justify-self: start;

  height: 50px;
  padding: 10px;
  overflow: hidden;
  opacity: 0.33;
  margin-left: -1%;
}

.div-edit {
  float: right;
}

#more-2 {
  font-size: 13px;
  margin: 0;
  color: #121214;
  margin-bottom: 16px;
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  text-transform: none;
  border: 1px solid black;
  padding: 1%;
  margin-top: 2%;
}

#more-2:hover {
  background-color: #ccc;
}

#less-2 {
  display: none;
  font-size: 13px;
  margin: 0;
  color: #121214;
  margin-bottom: 16px;
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  text-transform: none;
  border: 1px solid black;
  padding: 1%;
  margin-top: 2%;
}

#less-2:hover {
  background-color: #ccc;
}

.p-attr-6 {
  margin-bottom: 2%;
  margin: 0;
  color: #121214;
  margin-bottom: 0;
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  text-transform: none;
}

.nav-i-edit {
  display: block;
  color: #414143;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  margin-left: 8%;
  margin-top: 2%;
  width: 15%;
}
