.main-show-container {
  border: 1px solid black;
  width: 82%;
  margin: auto;
}

.container-1 {
  width: 50%;
}

.h1-show {
  font-family: RlBasisGrotesque,  Avenir,  Helvetica Neue,  Helvetica,
     sans-serif;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: -0.2px;
  line-height: 44px;
  text-transform: none;
}

.p-attr {
  margin-bottom: 2%;
  margin: 0;
  color: #121214;
  margin-bottom: 0;
  font-family: RlBasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  text-transform: none;
}

.p-attr-2 {
  display: inline;
}

.p-attr-3 {
  float: right;
  padding-right: 40%;
}
