


<div class='browse-cars-div'>
    <% @cars.each do |car| %>
        <div class="browse-car-div">
            
            <%= image_tag car.image, style: "display: block"  %>
            <br/>
            <a class="browse-p"href="<%= car_url(car) %>">Rent <%= car.name + " " %><%= car.year%></a>
        </div>
    <% end %>
</div>

