<% @cars.each do |car| %>
      <div class="car-index-item">
        <div>
          <br /><a href="<%= car_url(car) %>">Rent <%= car.name %></a>
          <%= image_tag car.image, style: "width: 251px; display: block"  %>
        </div>
      </div>
    <% end %>