
<div class="nature_car">
  <%= image_tag("nature_car.jpg", :alt => "yellow car") %>
</div>

<div class="main-container">
    <p id="p-main-container">Find your drive<p>
    
    <h5 id="h5-main-container"> Explore the world's largest car sharing marketplace</h5>
</div>
  <div class="browse-cars">
    <%= image_tag("road2.jpg", style: "width:21%; border-radius: 76px 149px; opacity:83%; display:inline; padding-left:16%") %>
    <div class="h6-p-div">
      <h6> Find the perfect car to conquer the great outdoors </h6>
      <p>Go prepared in a rugged 4x4 to take on winter roads <br>
       with ease,
      or a camper van to take you to the trees.</p>
    </div>
  </div>



