
<div class="nature_car">
  <%= image_tag("nature_car.jpg") %>
</div>

  <div class="main-container">
      <p id="p-main-container">Find your drive<p>
      
      <h5 id="h5-main-container"> Explore the world's largest car sharing marketplace</h5>
  </div>

  <div class="browse-cars">
    <%= image_tag("carr.png", style: "width:36%; display:inline; padding-left:25%") %>
    <div class="h6-p-div">
      <h6 id="browse-cars-h6"> Find the perfect car <span>to <br>conquer the great outdoors </span></h6>
      <p class="browse-cars-p">Go prepared in a rugged 4x4 to take on winter roads <br>
       with ease,
      or a camper van to take you to the trees.</p>

    <a href="/cars/new">
      <button type="button" class="my-button-color">Browse cars </button>
    </a>

    </div>
  </div>

  <%# <h3> Frequently asked questions </h3> %>

  <br>
  <br>
  <br>
  <br>



