
    <h1>ALL OF THE CARS IN THE WORLD</h1>
    <a href="<%= new_car_url %>">
      Add Car
      <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
  </nav>
    <% @cars.each do |car| %>
      <div class="car-index-item">
        <div>
          <br /><a href="<%= car_url(car) %>">Rent <%= car.name %></a>
        </div>
      </div>
    <% end %>


